<div class="max-w-4xl mx-auto py-8 px-4">
  <%= render "shared/page_heading", title: "Organisations" %>

  <%= render "shared/table", columns: [
    { header: "Name", accessor: :name, link: ->(org) { organisation_path(org) } },
    { header: "Created", accessor: ->(org) { org.created_at.strftime("%B %d, %Y") } }
  ], rows: @organisations, actions: [:view, :create], search_url: organisations_path %>
</div>
