<div class="max-w-4xl mx-auto py-8 px-4">
  <%= render "shared/page_heading", title: "Groups" %>

  <% only_one_group = Current.organisation.table_groups.count <= 1 %>
  <%= render "shared/table",
    columns: [
      { header: "Name", accessor: :name }
    ],
    rows: @table_groups,
    actions: [ :edit, :destroy ],
    destroy_disabled: ->(g) { only_one_group },
    edit_path: ->(g) { edit_group_path(g) },
    destroy_path: ->(g) { group_path(g) },
    destroy_confirm: "Are you sure you want to delete this group?",
    destroy_frame: "_top",
    search_url: groups_path,
    create_url: new_group_path,
    create_label: "Add group",
    sortable_url: edit_mode? ? reorder_groups_path : nil,
    sortable_reload: true,
    pagy: @pagy %>
</div>
